<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="URLToPing" value="YOUR_URL" />
    <add key="HourTimeToPing" value="THE_HOUR_PART_OF_THE_TIME_TO_PING" />
    <add key="MinuteTimeToPing" value="THE_MINUTE_PART_OF_THE_TIME_TO_PING" />
  </appSettings>
</configuration>